body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;

}

.topbanner {
    background-image: url(images/donation0.jpg);
    background-repeat: no-repeat;


}

div {
    width: 50%;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 40%;

}